In [34]:
import pandas as pd
import numpy as np

In [35]:
numbers = [20,30,40]

In [36]:
pandas_series=pd.Series(numbers)

In [37]:
print(pandas_series)

0    20
1    30
2    40
dtype: int64

In [38]:
letters = ["a","b","c","d" , 50]  ## integer ve string içinde verilebilir pandasta

In [39]:
pd.Series(letters)

0     a
1     b
2     c
3     d
4    50
dtype: object

In [40]:
scalar =5

In [41]:
pd.Series(scalar, [0,1,2,3])  ##indexleme bilgisi veriyoruz

0    5
1    5
2    5
3    5
dtype: int64

In [42]:
pd.Series(numbers,[1,2,3])  ##sayı kadar index ekleyebilir sadece

1    20
2    30
3    40
dtype: int64

In [43]:
pd.Series(numbers,["a","b","c"])

a    20
b    30
c    40
dtype: int64

In [44]:
dict={"a" : 10,"b": 20,"c" : 30 , "d" : 40}

In [45]:
pd.Series(dict)  ## key value oldugu için index vermeye gerek yok

a    10
b    20
c    30
d    40
dtype: int64

In [46]:
random_numbers=np.random.randint(10,100,6)  ## rastgele 10 ile 100 sayıları içinden 6 tane istedik

In [47]:
pd.Series(random_numbers)

0    70
1    24
2    66
3    27
4    75
5    76
dtype: int32

In [48]:
pandas_series=pd.Series([20,30,40,50] , ["a","b","c","d"])

In [49]:
pandas_series

a    20
b    30
c    40
d    50
dtype: int64

In [50]:
pandas_series[-1]  # sondaki elemanı getir diyoruz

50

In [51]:
pandas_series[:2]  ## bastan 0 ve 1 indexteki elemanları getir diyoruz

a    20
b    30
dtype: int64

In [52]:
pandas_series[2:5]

c    40
d    50
dtype: int64

In [54]:
pandas_series["a"]  # key degeide alabiliyoruz

20

In [55]:
pandas_series[["a","c"]]  # 1  den fazla key değerini alabiliyoruz

a    20
c    40
dtype: int64

In [56]:
pandas_series["e"]

KeyError: 'e'

In [58]:
pandas_series.ndim  ## 1 boyutlu oldugunu söylüyoruz

1

In [59]:
pandas_series.dtype

dtype('int64')

In [61]:
pandas_series.shape  ## 4 e 1 liste oldugunu söyluyor

(4,)

In [62]:
pandas_series.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of a    20
b    30
c    40
d    50
dtype: int64>

In [63]:
pandas_series.sum()

140

In [64]:
pandas_series.max()

50

In [65]:
pandas_series.min()

20

In [66]:
pandas_series+pandas_series

a     40
b     60
c     80
d    100
dtype: int64

In [67]:
pandas_series*2

a     40
b     60
c     80
d    100
dtype: int64

In [69]:
pandas_series+50 ##her bir elemaanın 50 eklemiş olur

a     70
b     80
c     90
d    100
dtype: int64

In [75]:
result= np.sqrt(pandas_series) # karekok alıyoruz

In [76]:
result

a    4.472136
b    5.477226
c    6.324555
d    7.071068
dtype: float64

In [77]:
pandas_series>=50  # 50 den buyuklere true false getirtiyoryuz

a    False
b    False
c    False
d     True
dtype: bool

In [78]:
pandas_series %2==0

a    True
b    True
c    True
d    True
dtype: bool

In [80]:
opel2023 = pd.Series([20,30,40,10],["astra" , "corsa","mocca","insignia"])

In [86]:
opel2022=pd.Series([40,30,20,10],["astra" , "corsa" , "Grandland","insignia"])

In [88]:
opel2023+opel2022   ## astraları topladı corsa da yalnız granland ve mocca nan donuyor sebep su ki diğer listede olmadıgı için nan dönüyor

Grandland     NaN
astra        60.0
corsa        60.0
insignia     20.0
mocca         NaN
dtype: float64

In [90]:
opel2022["astra"]

40

In [92]:
#DATAFRAME

In [101]:
df = pd.DataFrame([1,2,3,4])

In [102]:
df   ## excel gorunutusu verir colon ismi vermedigimiz için 0 verir

   0
0  1
1  2
2  3
3  4

In [104]:
df=pd.DataFrame([["ahmet",50],["ali",60],["mustafa",80],["cinar",70]])  ##ahmet ali vs satır olarak algıladı filan

In [105]:
df

         0   1
0    ahmet  50
1      ali  60
2  mustafa  80
3    cinar  70

In [106]:
data=[["ahmet",50],["ali",60],["mustafa",80],["cinar",70]]

In [110]:
df=pd.DataFrame(data,columns=["Name","Grade"]) ##kolon isimlerini verdik

In [111]:
df

      Name  Grade
0    ahmet     50
1      ali     60
2  mustafa     80
3    cinar     70

In [112]:
df=pd.DataFrame(data,columns=["Name" , "Grade"], index=[1,2,3,4])  ##index veiririz su 0 dan başlamıs olmaz

In [113]:
df

      Name  Grade
1    ahmet     50
2      ali     60
3  mustafa     80
4    cinar     70

In [115]:
list = [["ahmet",50],["ali",60],["mustafa",80],["cinar",70]]
dict={"Name" : ["ahmet","ali","mustafa","cinar"], "Grade" :[50,60,70,80]}

In [117]:
df=pd.DataFrame(dict, index=["212","323","436","218"])  ## indexleme yaptık aynı şekilde

In [118]:
df

        Name  Grade
212    ahmet     50
323      ali     60
436  mustafa     70
218    cinar     80